* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Verdana', sans-serif;
}

.clock {
    position: relative;
    width: 40rem;
    height: 40rem;
    background-image: url('clock.png');
    background-position: center;
    background-size: cover;
    border: .3rem solid #999;
    border-radius: 50%;
}

.hour-hand, .minute-hand, .second-hand, .date {
    position: absolute;
    transform-origin: bottom;
    left: 49%;
}

.hour-hand {
    top: 12rem;
    background: coral;
    width: .8rem;
    height: 8rem;
}
.minute-hand {
    top: 8rem;
    background: lime;
    width: .5rem;
    height: 12rem;
}
.second-hand {
    top: 6rem;
    background: cornflowerblue;
    width: .2rem;
    height: 14rem;
}

.date {
    position: absolute;
    top: 10rem;
    padding: .5rem 1rem;
    font-size: 2rem;
    font-weight: bold;
    background: #222;
    color: #999;
    border: .3rem solid #999;
    border-radius: .5rem;
    transform: translateX(-50%);
}

@media screen and (max-width: 768px) {
    html {
        font-size: 8px;
    }
}